In [3]:
import pandas as pd
df = pd.read_csv('./../../../text_emotion.csv')
df.head()

,tweet_id,sentiment,author,content
0,1956967341,empty,xoshayzers,@tiffanylue i know i was listenin to bad habi...
1,1956967666,sadness,wannamama,Layin n bed with a headache ughhhh...waitin o...
2,1956967696,sadness,coolfunky,Funeral ceremony...gloomy friday...
3,1956967789,enthusiasm,czareaquino,wants to hang out with friends SOON!
4,1956968416,neutral,xkilljoyx,@dannycastillo We want to trade with someone w...

In [4]:
#converting 

from io import StringIO
col = ['tweet_id','sentiment', 'content']
df = df[col]
df = df[pd.notnull(df['content'])]
df = df.head(10000)
df.columns = ['tweet_id','sentiment', 'content']
df['category_id'] = df['sentiment'].factorize()[0]
category_id_df = df[['sentiment', 'category_id']].drop_duplicates().sort_values('category_id')
category_to_id = dict(category_id_df.values)
id_to_category = dict(category_id_df[['category_id', 'sentiment']].values)
df.head()

,tweet_id,sentiment,content,category_id
0,1956967341,empty,@tiffanylue i know i was listenin to bad habi...,0
1,1956967666,sadness,Layin n bed with a headache ughhhh...waitin o...,1
2,1956967696,sadness,Funeral ceremony...gloomy friday...,1
3,1956967789,enthusiasm,wants to hang out with friends SOON!,2
4,1956968416,neutral,@dannycastillo We want to trade with someone w...,3

In [5]:
import matplotlib.pyplot as plt
fig = plt.figure(figsize=(8,6))
df.groupby('sentiment').content.count().plot.bar(ylim=0)
plt.show()

In [6]:
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.models import Sequential
from keras.layers import Dense, Embedding, LSTM, SpatialDropout1D
from sklearn.model_selection import train_test_split

Using TensorFlow backend.

In [7]:
max_features = 2000
tokenizer = Tokenizer(num_words=max_features, split=' ')
tokenizer.fit_on_texts(df['content'].values)
X = tokenizer.texts_to_sequences(df['content'].values)
X = pad_sequences(X)

In [8]:
embed_dim = 64
lstm_out = 128

model = Sequential()
model.add(Embedding(max_features, embed_dim,input_length = X.shape[1]))
model.add(SpatialDropout1D(0.2))
model.add(LSTM(lstm_out, dropout=0.2, recurrent_dropout=0.2))
model.add(Dense(13,activation='softmax'))
model.compile(loss = 'categorical_crossentropy', optimizer='adam',metrics = ['accuracy'])
print(model.summary())

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_1 (Embedding)      (None, 34, 64)            128000
_________________________________________________________________
spatial_dropout1d_1 (Spatial (None, 34, 64)            0
_________________________________________________________________
lstm_1 (LSTM)                (None, 128)               98816
_________________________________________________________________
dense_1 (Dense)              (None, 13)                1677
=================================================================
Total params: 228,493
Trainable params: 228,493
Non-trainable params: 0
_________________________________________________________________
None

In [9]:
Y = pd.get_dummies(df['category_id']).values
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.20, random_state = 42)
print(X_train.shape,Y_train.shape)
print(X_test.shape,Y_test.shape)

(8000, 34) (8000, 13)
(2000, 34) (2000, 13)

In [11]:
batch_size = 32
history=model.fit(X_train, Y_train, epochs = 30, batch_size=batch_size, verbose = 2)

Epoch 1/30
 - 10s - loss: 1.9462 - acc: 0.3135
Epoch 2/30
 - 9s - loss: 1.8894 - acc: 0.3518
Epoch 3/30
 - 10s - loss: 1.8181 - acc: 0.3891
Epoch 4/30
 - 12s - loss: 1.7325 - acc: 0.4186
Epoch 5/30
 - 11s - loss: 1.6690 - acc: 0.4394
Epoch 6/30
 - 11s - loss: 1.6085 - acc: 0.4559
Epoch 7/30
 - 10s - loss: 1.5499 - acc: 0.4734
Epoch 8/30
 - 11s - loss: 1.4984 - acc: 0.4934
Epoch 9/30
 - 12s - loss: 1.4581 - acc: 0.5094
Epoch 10/30
 - 12s - loss: 1.4157 - acc: 0.5174
Epoch 11/30
 - 10s - loss: 1.3733 - acc: 0.5289
Epoch 12/30
 - 10s - loss: 1.3358 - acc: 0.5402
Epoch 13/30
 - 10s - loss: 1.3037 - acc: 0.5493
Epoch 14/30
 - 11s - loss: 1.2674 - acc: 0.5591
Epoch 15/30
 - 11s - loss: 1.2283 - acc: 0.5689
Epoch 16/30
 - 11s - loss: 1.2028 - acc: 0.5779
Epoch 17/30
 - 13s - loss: 1.1609 - acc: 0.5885
Epoch 18/30
 - 13s - loss: 1.1425 - acc: 0.5969
Epoch 19/30
 - 11s - loss: 1.1069 - acc: 0.6079
Epoch 20/30
 - 11s - loss: 1.0753 - acc: 0.6174
Epoch 21/30
 - 11s - loss: 1.0430 - acc: 0.6302
Epoch 22/30
 - 12s - loss: 1.0253 - acc: 0.6436
Epoch 23/30
 - 11s - loss: 0.9773 - acc: 0.6545
Epoch 24/30
 - 11s - loss: 0.9878 - acc: 0.6564
Epoch 25/30
 - 11s - loss: 0.9418 - acc: 0.6644
Epoch 26/30
 - 11s - loss: 0.9311 - acc: 0.6754
Epoch 27/30
 - 11s - loss: 0.9096 - acc: 0.6776
Epoch 28/30
 - 12s - loss: 0.8890 - acc: 0.6840
Epoch 29/30
 - 15s - loss: 0.8646 - acc: 0.6927
Epoch 30/30
 - 10s - loss: 0.8488 - acc: 0.6967

In [12]:
validation_size = 1000

X_validate = X_test[-validation_size:]
Y_validate = Y_test[-validation_size:]
X_test = X_test[:-validation_size]
Y_test = Y_test[:-validation_size]
score,acc = model.evaluate(X_test, Y_test, verbose = 2, batch_size = batch_size)
print("score: %.2f" % (score))
print("acc: %.2f" % (acc))

score: 2.98
acc: 0.25